alembic>=1.16,<2
asyncpg>=0.30,<1
email-validator>=2.2,<3
fastapi>=0.116,<1
pydantic-settings>=2.10,<3
PyJWT[crypto]>=2.10,<3
pwdlib[argon2]>=0.2,<1
sqlalchemy[asyncio]>=2.0.41,<3
structlog>=25.4,<26
tzdata>=2025.2
uvicorn[standard]>=0.35,<1
